html, .detailsPage{
    background-color: rgb(212, 255, 255);
}

h1{
    padding-top: 20px;
}

.gameBasicInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 20px;
}

.gameDetailsImage{
    border: 5px solid rgb(96, 218, 255);
    border-radius: 10px;
    width: 340px;
    height: 450px;
}

.basicInfos{
    text-align: start;
}

.basicInfoDesc{
    font-size: 25px;
}

.basicInfoTitle{
    color: rgb(96, 218, 255);
    font-size: 30px;
}

.gameDesc{
    margin: 50px;
    padding: 40px;
    border: 5px solid rgb(96, 218, 255);
    border-radius: 10px;
    font-size: 23px;
}

.gameBtn{
    border: 5px solid rgb(96, 218, 255);
    border-radius: 10px;
    color: rgb(96, 218, 255);
    padding: 20px;
    width: 200px;
}

.gameBtn:hover{
    border: 5px solid rgb(0, 64, 255);
    color:rgb(0, 64, 255);
    cursor: pointer;
}

.btnDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    gap: 50px;
}